<h1> Informations Pharmacie :
  <select (change)="onSelect($event.target.value)">
    <option *ngFor="let pharmacie of pharmacies"
            [value]="pharmacie.id">{{ pharmacie.nom }}</option>
  </select>
</h1>

<div *ngIf="selected">
  <br />
  <hr>
  <div>
    <label>Nom :
      {{ selected[0].pharmacie.nom }}
    </label>
    <br />
    <label>Adresse :
      {{ selected[0].pharmacie.adresse }}
    </label>
    <br />
    <label>Personnel :
      {{ selected[0].pharmacie.nbPersonnel }}
    </label>
    <hr />
    <div *ngFor="let select of selected">
      <label>Besoin :
        {{ select.besoin }}
      </label>
      <br/>
      <label>Vente :
        {{ select.ventes }}
      </label>
      <br/>
      <label>Date de dernière formation :
        {{ select.derniereFormation }}
      </label>
      <br />
      <br />
    </div>
  </div>
</div>