<h1> Informations Pharmacie :
  <select (change)="onSelect($event.target.value)">
    <option value="null" ></option>
    <option *ngFor="let pharmacie of pharmacies"
            [value]="pharmacie.id">{{ pharmacie.nom }}</option>
  </select>
</h1>

<div *ngIf="selectedPharmacie">
  <br />
  <div>
    <label>Nom :
      <input [(ngModel)]="selectedPharmacie.nom" placeholder="nom" />
    </label>
    <br />
    <label>Adresse :
      <input [(ngModel)]="selectedPharmacie.adresse" placeholder="adresse" />
    </label>
    <br />
    <label>Personnel :
      <input [(ngModel)]="selectedPharmacie.nbPersonnel" placeholder="personnel" />
    </label>
    <label>Besoin :
      <input [(ngModel)]="selectedInformations.besoin" />
    </label>
  </div>
</div>